<div class='draggable-el-container'>
  {{#ui-draggable appendTo='.droppable-el' helper='clone' onStart='dragClone' class='draggable-el'}}
		aa
  {{/ui-draggable}}
</div>

<div class='droppable-el-container'>
{{#ui-droppable onDrop='dropped' class='droppable-el'}}
  {{#each model.elements as |el|}}
    {{el}}
  {{/each}}
{{/ui-droppable}}
</div>